<template>
  <div class="relative h-screen mx-auto w-1/2">
    <p class="absolute top-1/3 w-full text-center text-white text-4xl md:text-9xl skewed">
      těpéro
    </p>
  </div>
</template>

<script>
export default {
  name: "Contacts",
  mounted() {
    this.$emit('pageNr', 3);
  }
}
</script>

<style scoped>

</style>