<template>
  <div class="h-screen mx-auto">
    <div class="relative top-12 md:top-32 lg:top-1/4 w-3/4 md:w-1/2 lg:w-1/3 mx-auto shadowed text-white border border-white">
      <div class="border-b purple p-2 text-right grid grid-cols-2 text-lg md:text-xl">
        <div class="text-left pl-2">
          <div>
            <span id="heading"></span>
          </div>
        </div>
        <div class="text-right pr-2">
          <router-link
            :to="{ name: 'Work' }"
            class="transition duration-200 pl-2 pr-2"
            id="close-button"
          >
            ⨯
          </router-link>
        </div>
      </div>

      <div class="bg-gray-900 p-4 md:text-lg pb-6">
        <p>
          Jmenuji se Radim Hejduk a jsem web developer na volné noze.
        </p>

        <p class="mt-4">
          Mám rád čistý a <strong>responzivní design</strong>. Baví mě vytvářet <strong>kompletní webové řešení</strong> (aneb fullstack) pomocí PHP a JavaScriptu.
        </p>

        <div class="mt-4">
          →
          <router-link
            :to="{ name: 'Work' }"
            class="hover:text-purple-400 border-b pb-1"
          >S čím pracuji</router-link>
        </div>
      </div>

      <div class="absolute -bottom-20 right-24 md:-bottom-20 md:right-36">
        <p class="handwritten skewed" id="arrow-text">moje hlava :)</p>
      </div>

      <div class="absolute -bottom-24 right-20 md:-bottom-28 md:right-24">
        <img
            src="@/assets/images/arrow.png"
            alt="arrow"
            id="arrow"
            class="w-12 md:w-24"
        >
      </div>

      <div class="absolute -bottom-20 -right-10 md:-bottom-16 md:-right-16">
        <img
          src="@/assets/images/profil-web.png"
          alt="profil"
          id="profile"
          class="w-24 md:w-36"
        >
      </div>
    </div>
  </div>
</template>

<script>
import gsap from 'gsap'
import TextPlugin from 'gsap/TextPlugin'

export default {
  name: 'Home',
  components: {
  },
  methods: {
    timelineStart() {
      gsap.registerPlugin(TextPlugin);
      let tl = gsap.timeline().startTime(1);
      tl.to('#heading', {duration: 0.5, text: 'Dobrý den!', ease: 'expo.out'});
      tl.to("#profile", {x: -10, duration: 0.75, opacity: 1, ease: 'expo.out'}, '-=.2');
      tl.to("#arrow", {x: 10, duration: 0.75, opacity: 1, ease: 'expo.out'}, '-=.2');
      tl.to("#arrow-text", {x: 10, duration: 0.75, opacity: 1, ease: 'expo.out'}, '-=.4');
    },
  },
  mounted() {
    this.timelineStart();
    this.$emit('pageNr', 0);
  },

}
</script>

<style scoped>
#profile, #arrow, #arrow-text {
  opacity: 0;
}
</style>
