<template>
  <div class="h-screen mx-auto">
    <div class="relative top-12 md:top-32 lg:top-1/4 w-3/4 md:w-1/2 lg:w-1/3 mx-auto shadowed text-white border border-white">
      <div class="border-b purple p-2 grid grid-cols-3 text-lg md:text-xl">
        <div class="text-left">
          <button v-if="divNr > 0" @click="back(divNr)" id="arrow" class="focus:outline-none">← <span class="text-sm">{{ divName[divNr-1] }}</span></button>
        </div>
        <div class="text-center">
          <span id="heading">{{ divName[divNr] }}</span>
        </div>
        <div class="text-right">
          <button v-if="divNr < 2" @click="forward(divNr)" class="focus:outline-none text-sm"><span class="text-sm">{{ divName[divNr+1] }}</span> →</button>
        </div>
      </div>

      <div class="bg-gray-900 p-4 md:text-lg pb-6" @mouseover="timelineStart()">
          <div id="sec-0" v-if="divNr === 0" class="transition duration-200">
            <p class="mb-4">
              S PHP jsem se poprvé seznámil cca před 15 lety, kdy jsem jako teenager experimentoval s web developmentem. Po dlouhé programovací pauze jsem se k němu před pár lety vrátil a nelituji toho. PHP <strong>7.4^</strong> momentálně využívám každý den. Z frameworků je mi nejbližší <strong>Laravel</strong> a z databází <strong>MariaDB</strong>.
            </p>

            <div class="absolute -bottom-6 -right-2 flex">
              <img src="@/assets/images/php/mariadb.png" alt="mariadb" class="w-16 h-10 mt-2">
              <img src="@/assets/images/php/laravel.png" alt="laravel" class="w-12 h-12">
            </div>

            <div class="absolute -bottom-16 -left-14 lg:-bottom-16 lg:-left-14">
              <img src="@/assets/images/arrow-up.png" alt="arrow" id="arrow-work" class="w-12 transition duration-100">
            </div>

            <div class="absolute -bottom-16 left-0">
              <p class="handwritten skewed transition duration-100" id="arrow-backend">
                backend
              </p>
            </div>
          </div>

          <div id="sec-1" v-else-if="divNr === 1" class="transition duration-200">
            <p class="mb-4">
              K většímu frontedovému programování jsem dospěl později. Rád dělám SPA (Single Page Application) ve <strong>Vue.js</strong> verze 2 nebo 3 a většina projektů využívá CSS frameworků <strong>Tailwind</strong> nebo Bootstrap.
            </p>


            <div class="absolute -bottom-6 -right-2 flex">
              <img src="@/assets/images/js/tailwind.png" alt="tailwind" class="w-12 h-8 mt-1 pr-2">
              <img src="@/assets/images/js/vue.png" alt="vue" class="w-10 h-10">
            </div>

            <div class="absolute -bottom-16 -left-14 lg:-bottom-16 lg:-left-14">
              <img src="@/assets/images/arrow-up.png" alt="arrow" class="w-12">
            </div>

            <div class="absolute -bottom-16 left-0">
              <p class="handwritten skewed">
                frontend
              </p>
            </div>
          </div>

          <div id="sec-2" v-else-if="divNr === 2" class="transition duration-200">
            <p class="mb-4">
              Linux je můj daily driver. Nikdy jsem nebyl úplný guru, ale zvládnu vše potřebné k tomu, aby se web rozběhal na produkci včetně automatizovaných cron operací. Sem a tam využiji Docker. Nejvíce zkušeností mám se servery postavenými na <strong>Debianu/Ubuntu</strong>. Na desktopu vyvíjím PHP aplikace v <strong>PHPStorm</strong>.
            </p>

            <div class="absolute -bottom-6 -right-2 flex">
              <img src="@/assets/images/linux/phpstorm.png" alt="phpstorm" class="w-12 h-10 mt-1 pr-2">
              <img src="@/assets/images/linux/ubuntu.png" alt="ubuntu" class="w-12 h-12">
            </div>

            <div class="absolute -bottom-16 -left-14 lg:-bottom-16 lg:-left-14">
              <img src="@/assets/images/arrow-up.png" alt="arrow" class="w-12">
            </div>

            <div class="absolute -bottom-16 left-0">
              <p class="handwritten skewed">
                produkce
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import gsap from 'gsap'
import TextPlugin from 'gsap/TextPlugin'

export default {
  name: "Work",
  data() {
    return {
      divNr: 0,
      divName: {
        0: 'PHP',
        1: 'JS',
        2: 'LINUX'
      },

    }
  },
  mounted() {
    document.getElementById('sec-0').style.opacity = '1';
    this.timelineStart();
    this.$emit('pageNr', 1);
  },
  methods: {
    timelineStart() {
      let tl = gsap.timeline().startTime(1);
      tl.to("#arrow-work", {y: -10, duration: 0.75, opacity: 1, ease: 'expo.out'}, '-=.2');
      tl.to("#arrow-backend", {y: -10, duration: 0.75, opacity: 1, ease: 'expo.out'}, '-=.4');
    },
    fadeIn() {
      setTimeout(() => {
        let target = 'sec-'+(this.divNr);
        document.getElementById(target).style.opacity = '1';
      }, 200);
    },
    typeHeading(nr, direction) {
      gsap.registerPlugin(TextPlugin);

      return gsap.to('#heading', {
          opacity: 1,
          duration: 0.5,
          text: direction ? this.divName[nr+1] : this.divName[nr-1],
          ease: 'expo.out'
        });
    },
    async forward(nr) {
      await this.typeHeading(nr, true);
      this.divNr = nr+1;
      this.fadeIn();
    },
    async back(nr) {
      await this.typeHeading(nr, false);
      this.divNr = nr-1;
      this.fadeIn();
    }
  },
}
</script>

<style scoped>
#sec-0, #sec-1, #sec-2 {
  opacity: 0;
}

#arrow-work, #arrow-backend {
  opacity: 0;
}

</style>