<template>
  <div
    class="background h-screen"
    @wheel.prevent="pageNavigate"
  >
    <div id="nav">
      <Header />
    </div>

    <router-view
      v-slot="{ Component }"
      @pageNr="setPageNumber"
    >
      <transition
        name="slide"
        mode="out-in"
        appear
      >
        <component :is="Component" />
      </transition>
    </router-view>

    <ArrowButtons :pagenumber="pageNumber" />

    <div
      class="absolute bottom-1 h-1 w-full"
    >
      <div
        id="loadingBar"
        class="bg-white h-1 w-0 opacity-20"
      />
    </div>
  </div>
</template>

<script>
import Header from "@/views/components/Header";
import ArrowButtons from "@/views/components/ArrowButtons";

export default {
  name: "App",
  components: { Header, ArrowButtons },
  data() {
    return {
      pageNumber: 0,
      pages: {
        0: 'Home',
        1: 'Work',
        2: 'Portfolio',
        3: 'Contacts'
      },
      coordinateY: 0,
      divisor: 15
    }
  },
  watch: {
    pageNumber() {
      this.$router.push({ name: this.pages[this.pageNumber] });
    },
    coordinateY() {
      let bar = document.getElementById("loadingBar");
      let ratio = window.innerWidth/(this.divisor*(this.pagesLength() - 1));

      bar.style.width = (this.coordinateY*(ratio))+"px";
    }
  },
  methods: {
    pagesLength() {
      return Object.keys(this.pages).length;
    },
    wheelDown(e) {
      if (e.deltaY > 0) {
        this.coordinateY += 1;

        //checking if the coordinate doesn't exceed the max page number
        //Object.keys(this.pages).length - 1 gets max key in this.pages
        if ((this.coordinateY / this.divisor) > (this.pagesLength() - 1)) {
          this.coordinateY = (this.pagesLength() - 1) * this.divisor;
        }

        //get a whole number to redirect
        this.pageNumber = this.coordinateY / this.divisor;
      }
    },
    wheelUp(e) {
        if (e.deltaY < 0) {
          this.coordinateY -= 1;

          if (this.coordinateY < 0) {
            this.coordinateY = 0;
          }

          this.pageNumber = this.coordinateY / this.divisor;
        }
    },
    pageNavigate(e) {
      this.wheelUp(e);
      this.wheelDown(e);

      if (this.pageNumber > 3) {
        this.pageNumber = 3;
      }
    },
    setPageNumber(nr) {
      this.pageNumber = nr;
      this.coordinateY = nr*15;
    }
  }
}
</script>

<style>
.slide-fade-enter {
  transform: translateY(10px);
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s ease;
}

.slide-enter-from {
  transform: translateY(10px);
  opacity: 0;
}
.slide-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
</style>
