/* ./src/index.css */

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

html {
    font-family: 'JetBrains Mono', monospace;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.background {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%230b030b' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23160616' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23200820' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%232b0b2b' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23360e36' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

#close-button {
    border: 1px solid transparent;
    border-radius: 50%;
}

#close-button:hover {
    border: 1px solid white;
}

.handwritten {
    font-family: 'East Sea Dokdo', sans-serif;
    font-size: 2rem;
}

.purple {
    background-color: #360E36;
}

.skewed {
    transform: skew(-5deg) rotate(-10deg);
}

.shadowed {
    box-shadow: 20px 20px 0px #000000;
}

.text-shadow {
    text-shadow: 5px 5px 2px #000000;
}