<template>
  <div class="absolute top-6 right-6 text-white text-2xl md:text-xl">
    <transition
      name="fadein"
      appear
    >
      <button
        v-if="pagenumber > 0"
        @click="decreasePageNumber(); setCoordinates()"
        class="shadow-2xl focus:outline-none"
      >
        ↑
      </button>
    </transition>

    <transition
      name="fadein"
      appear
    >
      <button
        v-if="pagenumber < 3"
        @click="increasePageNumber(); setCoordinates()"
        class="shadow-2xl focus:outline-none"
      >
        &nbsp;↓
      </button>
    </transition>
  </div>
</template>

<script>
export default {
  name: "ArrowButtons",
  props: [
    'pagenumber',
  ],
  methods: {
    increasePageNumber() {
      this.$parent.pageNumber++;
    },
    decreasePageNumber() {
      this.$parent.pageNumber--;
    },
    setCoordinates() {
      this.$parent.coordinateY = (this.$parent.pageNumber)*15;
    }
  },
}
</script>

<style scoped>
.fadein-enter-active,
.fadein-leave-active {
  transition: opacity .3s ease;
}

.fadein-enter-from,
.fadein-leave-to {
  opacity: 0;
}
</style>