<template>
  <div
    class="p-6 flex"
  >
    <transition
      name="fadein"
      appear
    >
      <img
        src="@/assets/images/logo.svg"
        alt="logo"
        id="logo"
        class="transition duration-200 transform w-16 hover:-skew-y-6 hover:scale-110 hover:opacity-90"
        @mouseenter="showMenu"
      >
    </transition>

    <div
      class="text-white pl-12 pt-3 flex space-x-4 hidden"
      id="menu"
    >
      <router-link
        class="first hover:text-purple-400"
        :to="{ name: 'Home' }"
      >
        Úvod
      </router-link>

      <router-link
        class="second hover:text-purple-400"
        :to="{ name: 'Work' }"
      >
        Co dělám
      </router-link>

      <router-link
        class="third hover:text-purple-400"
        :to="{ name: 'Portfolio' }"
      >
        Portfolio
      </router-link>

      <router-link
        class="fourth hover:text-purple-400"
        :to="{ name: 'Contacts' }"
      >
        Kontakt
      </router-link>

      <div class="close-button hover:text-purple-400">
        <button
          @click="hideMenu"
          class="focus:outline-none"
        >
          ×
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import gsap from 'gsap'

export default {
  name: "Header",
  methods: {
    el(id) {
      return document.getElementById(id);
    },
    menuTL(bool) {
      let tl = gsap.timeline();

      if (bool === true) {
        tl.to(".first", {x: 20, duration: 0.3, opacity: 1,  ease: 'expo.out'});
        tl.to(".second", {x: 20, duration: 0.3, opacity: 1, ease: 'expo.out'});
        tl.to(".third", {x: 20, duration: 0.3, opacity: 1, ease: 'expo.out'});
        tl.to(".fourth", {x: 20, duration: 0.3, opacity: 1, ease: 'expo.out'});
        tl.to(".close-button", {x: 20, duration: 0.3, opacity: 1, ease: 'expo.out'});

      } else {
        tl.to(".first", {x: 0, duration: 0.3, opacity: 0,  ease: 'expo.in'});
        tl.to(".second", {x: 0, duration: 0.3, opacity: 0,  ease: 'expo.in'});
        tl.to(".third", {x: 0, duration: 0.3, opacity: 0,  ease: 'expo.in'});
        tl.to(".fourth", {x: 0, duration: 0.3, opacity: 0,  ease: 'expo.in'});
        tl.to(".close-button", {x: 0, duration: 0.3, opacity: 0,  ease: 'expo.in'});
      }

      return tl;
    },
    async showMenu() {
      await this.el("menu").classList.remove("hidden");
      this.el("logo").classList.add("-skew-y-6");
      this.menuTL(true);
    },

    async hideMenu() {
      await this.menuTL(false);
      this.el("logo").classList.remove("-skew-y-6");
      this.el("menu").classList.add("hidden");
    },
  }
}
</script>

<style scoped>
.first, .second, .third, .fourth, .close-button {
  opacity: 0;
}

.fadein-enter-active,
.fadein-leave-active {
  transition: opacity .8s ease;
}

.fadein-enter-from,
.fadein-leave-to {
  opacity: 0;
}
</style>